In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv('classification.csv')
Data_age = Data.drop(columns='EstimatedSalary').sort_values(by='Age')
Data_Sal = Data.drop(columns='Age').sort_values(by='EstimatedSalary')
Data_age.head()

     Age  Purchased
76    18          0
165   18          0
51    18          0
14    18          0
141   18          0

In [3]:
def ma(d):
    Ma=[]
    for i in range(1,d.shape[0]):
        t = (d.iloc[i][0] + d.iloc[i-1][0] )/ 2
        if(t not in Ma):
            Ma.append(t)
    return Ma
Age_class = ma(Data_age)
Sal_class = ma(Data_Sal)

In [11]:
def Gini(data,clas,Name):
    x = []
    count=[]
    for i in clas:
        temp = data[data[Name]<=i]
        size = temp.shape[0]
        count1 = list(temp['Purchased']).count(0)
        p = 1  - (((count1/size)**2)+(((size-count1)/size)**2))
        x.append(p)
        count.append(size)
    return x,count

gini_age ,N_age= Gini(Data_age,Age_class,'Age')
gini_Sal,N_Sal = Gini(Data_Sal,Sal_class,'EstimatedSalary')

In [24]:
def Weight_gini(data,gini,count):
    overall = 0 
    for i in range(0,len(gini)):
        t = (count[i]/data.shape[0]) * gini[i]
        overall+=t
    return overall

weight_gini_age = Weight_gini(Data_age,gini_age,N_age)
weight_gini_Sal = Weight_gini(Data_Sal,gini_Sal,N_Sal)

In [13]:
weight_gini_age

14.834399559046767

In [14]:
weight_gini_Sal

44.75282255462449